.main-board {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-flow: column;
  .board-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .board-voting-container {
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-top: 2px solid rgba(45, 48, 71, 0.6);
    background: #2d3047;
  }
  .share-button {
    position: fixed;
    top: 16px;
    right: 16px;
  }
  .logo {
    position: fixed;
    top: 16px;
    left: 16px;
    height: 60px;
    width: auto;
  }
  &.loading {
    justify-content: center;
    align-items: center;
  }
}
