.planning-player-card {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  p {
    margin: 8px 0 0 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
