.players-table-container {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .planning-card {
    box-sizing: border-box;
    margin: 10px 20px 0px;
  }
  .table-item {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(237, 33, 124, 0.9);
    width: 700px;
    height: 200px;
    border: 2px solid rgb(237, 33, 124);
    .host-actions {
      display: flex;
      flex-flow: column;
      .button {
        margin: 10px;
      }
    }
  }
  .sit-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .left-sit {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .right-sit {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .top-sit {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .bottom-sit {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .votation-result {
    text-align: center;
    padding: 16px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
  }
}
